* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mensaje {

    width: 80%;
    height: 50px;
    background-color: chartreuse;
    margin: 0 auto;

}
.mensaje p {

    text-align: center;
}
.btn {

    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.btn button{

    padding: 10px;
    border-radius: 10px;
    background-color: chocolate;
    cursor: pointer;
    outline: none;
    border: none;
}